<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom border-light">
        <div class="container">
            @Html.ActionLink("PC Components Shop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (Session["AccountID"] == null)
                    {
                        <li>@Html.ActionLink("Register", "Index", "Register", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Log in", "Index", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    @if (Session["AccountID"] != null && Convert.ToInt32(Session["AccountType"]) == 2)
                    {
                        <li>@Html.ActionLink("Log out", "Logout", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    @if (Session["AccountID"] != null && Convert.ToInt32(Session["AccountType"]) == 1)
                    {
                        <li>@Html.ActionLink("Create product", "CreateProductPage", "Product", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Log out", "Logout", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="row">
            <p class="text-white">&copy; @DateTime.Now.Year - PC Components Shop</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
