@using PC_Components_Shop.Models;

@model RegisterViewData
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script>
        $(document).ready(function() {
            $("form").validate();
        });
    </script>
</head>
<body class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5 class="text-white mt-3 mb-3">
                    Register new Account
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                @using (Html.BeginForm("SendAccountData","Register",FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Account.FirstName, new { @class = "form-control mt-3 mb-3", placeholder = "First name" })
                        @Html.ValidationMessageFor(model => model.Account.FirstName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Account.LastName, new { @class = "form-control mt-3 mb-3", placeholder= "Last name"})
                        @Html.ValidationMessageFor(model => model.Account.LastName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Account.EmailAddress, new { @class = "form-control mt-3 mb-3", placeholder = "Email address" })
                        @Html.ValidationMessageFor(model => model.Account.EmailAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="text-white mt-2 mb-2">Date of birth</label>
                        @Html.TextBoxFor(model => model.Account.DOB, new { @class = "form-control", type = "datetime-local" })
                        @Html.ValidationMessageFor(model => model.Account.DOB, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Account.UserName, new { @class = "form-control mt-3 mb-3", placeholder= "Username"})
                        @Html.ValidationMessageFor(model => model.Account.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.TextBoxFor(model => model.Account.Password, new { @class = "form-control mt-3 mb-3", placeholder = "Password", type = "password"})
                        @Html.ValidationMessageFor(model => model.Account.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label class="text-white mt-2 mb-2">Billing Address</label>
                        @Html.TextBoxFor(model => model.Account.Address.StreetName, new { @class = "form-control", placeholder = "Street name" })
                        @Html.ValidationMessageFor(model => model.Account.Address.StreetName, "", new { @class = "text-danger m-2" })
                        @Html.TextBoxFor(model => model.Account.Address.StreetNumber, new { @class = "form-control", placeholder = "Street number" })
                        @Html.ValidationMessageFor(model => model.Account.Address.StreetNumber, "", new { @class = "text-danger m-2" })
                        @Html.TextBoxFor(model => model.Account.Address.ApartmentNumber, new { @class = "form-control", placeholder = "Apartment number" })
                        @Html.ValidationMessageFor(model => model.Account.Address.ApartmentNumber, "", new { @class = "text-danger m-2" })
                        @Html.DropDownListFor(model => model.SelectedBillingAddressCityID, new SelectList(Model.cityList, "CityID", "CityName",Model.SelectedBillingAddressCityID), "Select city ---", new { @class = "form-control mt-2 mb-2"})
                        @Html.ValidationMessageFor(model => model.SelectedBillingAddressCityID, "", new { @class = "text-danger m-2" })
                    </div>
                    <div class="form-group">
                        <label class="text-white mt-2 mb-2">Shipping Address</label>
                        @Html.TextBoxFor(model => model.Account.Address1.StreetName, new { @class = "form-control", placeholder = "Street name" })
                        @Html.ValidationMessageFor(model => model.Account.Address1.StreetName, "", new { @class = "text-danger m-2" })
                        @Html.TextBoxFor(model => model.Account.Address1.StreetNumber, new { @class = "form-control", placeholder = "Street number" })
                        @Html.ValidationMessageFor(model => model.Account.Address1.StreetNumber, "", new { @class = "text-danger m-2" })
                        @Html.TextBoxFor(model => model.Account.Address1.ApartmentNumber, new { @class = "form-control", placeholder = "Apartment number" })
                        @Html.ValidationMessageFor(model => model.Account.Address1.ApartmentNumber, "", new { @class = "text-danger m-2" })
                        @Html.DropDownListFor(model => model.SelectedShippingAddressCityID, new SelectList(Model.cityList, "CityID", "CityName", Model.SelectedShippingAddressCityID), "Select city ---", new { @class = "form-control mt-2 mb-2" })
                        @Html.ValidationMessageFor(model => model.SelectedShippingAddressCityID, "", new { @class = "text-danger m-2" })
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register new account" class="btn btn-primary mt-5 mb-5" />
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>
